.my-navbar{
    font-size: 22px;
    font-weight: bold;
}

.my-nav-item{
    font-size: 16px;
    font-weight: 500;
}

/* carousel part start */

.my-caro-btn{
   font-weight: 700;
}

.my-btn{
    font-weight: 700;
}

/* priceing part start */

.custom-separator{
    width: 50px;
    height: 10px;
}